/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.flickity-button {
    position: absolute;
    background: rgba(255,255,255,.75);
    border: none;
    color: #333;
}

.flickity-button:hover {
    background: #fff;
    cursor: pointer;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
    opacity: .6;
}

.flickity-button:disabled {
    opacity: .3;
    cursor: auto;
    pointer-events: none;
}

.flickity-button-icon {
    fill: currentColor;
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}

.flickity {
    opacity: 0;
    transition: opacity .25s ease;
}

.flickity .flickity-slide {
    width: 100%;
}

.flickity .flickity-slide>.frame {
    margin-bottom: 0;
}

.flickity-prev-next-button {
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,0);
    transition: background .25s ease;
}

.flickity-prev-next-button:hover,.flickity-prev-next-button:focus,.flickity-prev-next-button:active {
    background: rgba(0,0,0,0);
    opacity: 1;
}

.flickity-button-icon {
    display: none;
}

.flickity-button.next,.flickity-button.previous {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flickity-button.next:before,.flickity-button.previous:before {
    position: relative;
    display: block;
    font-family: "FontAwesome";
    color: var(--buttoncolor);
    font-size: 14px;
}

.flickity-button.next:hover:before,.flickity-button.previous:hover:before {
    color: #fff;
}

.flickity-button.next {
    right: 20px;
}

.flickity-button.next:before {
    top: 1px;
    left: 2px;
    content: "";
}

.flickity-button.previous {
    left: 20px;
}

.flickity-button.previous:before {
    top: 1px;
    right: 2px;
    content: "";
}

.flickity--arrows-round .flickity-prev-next-button {
    z-index: 1;
    background: #fff;
    top: unset;
    bottom: -45px;
}

.flickity--arrows-round .flickity-prev-next-button:hover,.flickity--arrows-round .flickity-prev-next-button:focus,.flickity--arrows-round .flickity-prev-next-button:active {
    background: #990066;
}

@media(max-width: 767px) {
    .flickity--arrows-round .flickity-prev-next-button {
        display:none;
    }
}

.flickity--arrows-normal .flickity-button.next:before,.flickity--arrows-normal .flickity-button.previous:before {
    position: relative;
    display: block;
    font-family: "FontAwesome";
    color: var(--buttonbackground);
    font-size: 29px;
    transition: color .25s ease;
}

.flickity--arrows-normal .flickity-button.next:hover:before,.flickity--arrows-normal .flickity-button.next:focus:before,.flickity--arrows-normal .flickity-button.next:active:before,.flickity--arrows-normal .flickity-button.previous:hover:before,.flickity--arrows-normal .flickity-button.previous:focus:before,.flickity--arrows-normal .flickity-button.previous:active:before {
    color: var(--buttonbackgroundhover)
}

.flickity--nav-slider {
    box-shadow: 0px 5px 16px rgba(0,0,0,.1607843137);
    background: #F2F2F2;
    width: 580px;
}

@media(min-width: 768px) {
    .flickity--nav-slider {
        margin-left:2%;
    }
}

@media(max-width: 767px) {
    .flickity--nav-slider {
        width:100%;
    }
}

.flickity--nav-slider .flickity-viewport {
    transition: height .25s ease;
    cursor: pointer !important;
}

.flickity--nav-slider .flickity-slide {
    padding: 35px 35px 55px 35px;
}

@media(max-width: 767px) {
    .flickity--nav-slider .flickity-slide {
        padding:25px 25px 45px 25px;
    }
}

.flickity--nav-slider .flickity-slide:first-child>.frame-default {
    opacity: 1;
}

.flickity--nav-slider .flickity-slide .button-link {
    text-transform: uppercase;
    color: #fff;
    background-color: #990066;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0);
    white-space: nowrap;
    padding: 0px 30px 1px;
    font-size: 14px;
    line-height: 1.93333333;
    border-radius: 20px;
    transition: all .25s ease;
    letter-spacing: .68px;
}

.indicator {
    color: #333;
    margin: 0 22px;
    user-select: none;
    font-size: 16px;
}

.flickity--nav-slider p {
    margin-bottom: 30px !important;
}

@media(max-width: 991px) {
    .flickity--nav-slider .customNav {
        bottom:27px;
        left: -3.75px;
    }
}
.flickity--nav-slider {
    background: #F2F2F2;
}

.flickity--nav-slider h2, p {
    color: #333;
}

.flickity--nav-slider h2 {
    font-size: 40px !important;
    font-weight: bold;
}

.flickity--nav-slider p {
    font-weight: normal;
}

.flickity--nav-slider .flickity-slide .button-link:hover {
    color: #fff;
    background-color: #cc0088;
}

.customNav {
    position: absolute;
    bottom: 35px;
    width: 100%;
    pointer-events: auto;
    display: flex;
    justify-content: center;
}

.customNav>div {
    display: flex;
    align-items: center;
}

.customNav>div.round {
    background: var(--boxbackground);
    padding: 0px 13px 3px;
    border-radius: 29px;
    transition: background .25s ease;
}

.customNav>div.round:hover,.customNav>div.round:focus,.customNav>div.round:active {
    background: #d9d9d9;
}

.customNav>div.special .previous,.customNav>div.special .next {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 100px;
}

.customNav>div.special .indicator {
    display: flex;
}

.customNav>div.special .indicator .item {
    margin-right: 10px;
    cursor: pointer;
}

.customNav>div.special .indicator .item:last-child {
    margin-right: 0px;
}

.customNav>div.special .indicator .item.active {
    font-weight: bold;
    color: #906;
}

.customNav .indicator {
    margin: 0 22px;
    user-select: none;
    font-size: 16px;
}

.customNav .next,.customNav .previous {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customNav .next:before,.customNav .previous:before {
    position: relative;
    display: block;
    font-family: "FontAwesome";
    color: #906;
    font-size: 12px;
}

.customNav .next:before {
    top: 1px;
    left: 2px;
    content: "";
}

.customNav .previous:before {
    top: 1px;
    right: 2px;
    content: "";
}

.customNav.customNav--top {
    bottom: auto;
    top: 30px;
    right: 30px;
    width: auto;
}

.customNav.customNav--further-down {
    bottom: -30px;
}

.flickity.layout-imagebuilder .focuspoint img {
    left: unset !important;
    right: 0 !important;
    top: 0 !important;
}

@media(max-width: 767px) {
    .flickity.layout-imagebuilder .focuspoint img {
        right:unset !important;
        left: 0 !important;
        bottom: 0 !important;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 991px) {
    .flickity.layout-imagebuilder+.wrap {
        bottom:0 !important;
    }
}

@media(max-width: 1199px) {
    .flickity.layout-imagebuilder+.wrap .flickity--nav-slider {
        width:480px;
        max-width: 100%;
    }
}

@media(max-width: 1329px) {
    .flickity.layout-imagebuilder+.wrap .flickity--nav-slider .flickity-slide {
        padding:25px 25px 45px 25px;
    }

    .flickity.layout-imagebuilder+.wrap .flickity--nav-slider .flickity-slide h1,.flickity.layout-imagebuilder+.wrap .flickity--nav-slider .flickity-slide .h1 {
        font-size: 32px;
    }
}

@media(max-width: 480px) {
    .flickity.layout-imagebuilder+.wrap .flickity--nav-slider .flickity-slide {
        padding:15px 15px 45px 15px;
    }
}

@media(max-width: 991px) {
    .flickity-spacer {
        height:130px !important;
    }
}

@media(max-width: 767px) {
    .flickity-spacer {
        height:220px !important;
    }
}

@media(max-width: 480px) {
    .flickity-spacer {
        height:120px !important;
    }
}

.flickity-page-dots {
    text-align: right;
    bottom: unset;
    top: 0;
}

@media(min-width: 768px) {
    .flickity-page-dots {
        display:none;
    }
}

.flickity-page-dots .dot {
    width: 15px;
    height: 15px;
    margin: 0 0 0 8px;
    background-color: #906;
}

@media(max-width: 767px) {
    .flickity--autowidth-slider {
        padding-top:25px;
    }
}

@media(min-width: 768px) {
    .flickity--fixed-height .focuspoint img {
        top:0 !important;
        left: unset !important;
        right: 0 !important;
        width: 100vw !important
    }
}

@media(min-width: 2060px) {
    .container-fluid .flickity--fixed-height .flickity-viewport .focuspoint img {
        left:0px;
        width: auto;
        min-width: unset;
        margin: 0 auto;
        position: static;
    }
}

.layout-imagebuilder video {
    object-fit: cover;
    object-position: center;
}

.layout-imagebuilder .frame-type-textmedia * {
    display: flex;
    float: none !important;
    position: static !important;
    width: 100%;
}

.layout-imagebuilder.flickity,.layout-imagebuilder .focuspoint,.layout-imagebuilder .focus,.layout-imagebuilder video {
    height: 39.0625vw !important;
    width: 100vw !important;
}

@media(max-width: 767px) {
    .layout-imagebuilder.flickity,.layout-imagebuilder .focuspoint,.layout-imagebuilder .focus,.layout-imagebuilder video {
        height:108vw !important;
    }
}

.layout-imagebuilder.flickity+.wrap {
    margin-top: -30px;
    bottom: auto !important;
    top: 33.8541666667vw
}

@media(max-width: 767px) {
    .layout-imagebuilder.flickity+.wrap {
        top:108vw !important;
    }
}

.layout-imagebuilder .flickity-prev-next-button {
    top: calc(100% - 5.2083333333vw) !important;
}

.flickity-spacer {
    display: none;
}

.wrap {
    z-index: 99;
}
#c587066 {
    position: relative;
    margin-bottom: 0;
}
.flickity--587066 {
    pointer-events: auto;
}

.flickity--downloads-slider .flickity-slide {
    padding: 45px 0px 0;
}

.flickity--downloads-slider .flickity-slide .seminar-teaser img {
    width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
}

.flickity--downloads-slider .product-slider-title {
    position: absolute;
    top: 10px;
    left: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.flickity--downloads-slider .customNav--top {
    top: 0;
    right: 15px;
}

@media(max-width: 1199px) {
    .flickity--downloads-slider .customNav--top {
        top:8px;
    }
}

@media(max-width: 767px) {
    .flickity--downloads-slider .customNav--top {
        top:10px;
    }
}

.flickity--downloads-slider .button-row {
    margin-top: 15px;
}

.flickity--downloads-slider .button-row a {
    margin-right: 15px;
    margin-bottom: 10px;
}

.flickity--downloads-slider .button-row a:last-child {
    margin-right: 0;
}

.flickity--downloads-slider .tx-caparolseminars {
    margin: 0;
}

.flickity--downloads-slider .fluid-teaser {
    background: rgba(0,0,0,0);
}

.flickity--downloads-slider .fluid-teaser .column-2-wrapper.right {
    width: 100% !important;
}

.flickity--downloads-slider .fluid-teaser br {
    display: none;
}

.flickity--downloads-slider .fluid-teaser .teaser-wrapper div.column-2-wrapper>div {
    padding: 0;
}

.flickity--downloads-slider .fluid-teaser .teaser-wrapper .column-1-wrapper:after {
    display: none;
}

.flickity--downloads-slider .fluid-teaser .col-xs-12 {
    float: none;
}

.flickity--downloads-slider .fluid-teaser .btn {
    padding: 0;
    background: rgba(0,0,0,0);
    color: #3c4348;
    transition: none !important;
}

.flickity--downloads-slider .fluid-teaser .btn:hover,.flickity--downloads-slider .fluid-teaser .btn:focus,.flickity--downloads-slider .fluid-teaser .btn:active {
    box-shadow: none !important;
    text-decoration: underline;
    color: #906;
}

.flickity--downloads-slider .fluid-teaser .btn .fa-arrow-circle-down {
    color: #906;
}

.flickity--downloads-slider .fluid-teaser .btn .fa-arrow-circle-down:before {
    position: relative;
    top: -2px;
    font-size: 12px;
    content: ""
}
.csc-shadow-border {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,.13);
}

a.download,a.download-issuu,a.mail,a.phone,a.more-link,a.anker-link {
    color: #990066;
}

a.download:hover,a.download-issuu:hover,a.mail:hover,a.phone:hover,a.more-link:hover,a.anker-link:hover {
    color: #990066;
    text-decoration: underline;
}

a.download:hover:before,a.download:hover:after,a.download-issuu:hover:before,a.download-issuu:hover:after,a.mail:hover:before,a.mail:hover:after,a.phone:hover:before,a.phone:hover:after,a.more-link:hover:before,a.more-link:hover:after,a.anker-link:hover:before,a.anker-link:hover:after {
    color: #990066;
}

a.download,a.download-issuu {
    color: #333;
    display: block;
}
a.download:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    content: "\f063";
    color: #990066;
    padding-right: 6px
}

a.download-issuu:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    content: "\f06e";
    color: #990066;
    padding-right: 6px
}